// variables.scss 已通过 vite.config.js 的 additionalData 自动导入
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family;
  font-size: $font-size-base;
  color: #303133;
  background-color: #f5f7fa;
}

#app {
  width: 100%;
  min-height: 100vh;
}

